@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TP Fors';
  src:
    url('fonts/woff2/TT_Fors_Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/woff/TT_Fors_Regular.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('fonts/ttf/TT-Fors-Regular.ttf')
      format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TP Fors';
  src:
    url('fonts/woff2/TT_Fors_Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/woff/TT_Fors_Medium.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('fonts/ttf/TT_Fors_Medium.ttf')
      format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TP Fors';
  src:
    url('fonts/woff2/TT_Fors_Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/woff/TT_Fors_Bold.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('fonts/ttf/TT_Fors_Bold.ttf')
      format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* FONTS */
.heading-1 {
  @apply lg:text-h1 md:text-h1Tablet text-h1Mobile;
}

.heading-2 {
  @apply lg:text-h2 md:text-h2Tablet text-h2Mobile;
}

.heading-3 {
  @apply lg:text-h3 md:text-h3Tablet text-h3Mobile;
}

.heading-4 {
  @apply lg:text-h4 md:text-h4Tablet text-h4Mobile;
}

.heading-5 {
  @apply lg:text-h5 md:text-h5Tablet text-h5Mobile;
}

.heading-6 {
  @apply lg:text-h6 md:text-h6Tablet text-h6Mobile;
}

.heading-7 {
  @apply lg:text-h7 md:text-h7Tablet text-h7Mobile;
}

.heading-8 {
  @apply lg:text-h8 md:text-h8Tablet text-h8Mobile;
}

.heading-9 {
  @apply lg:text-h9 md:text-h9Tablet text-h9Mobile;
}

.body-1 {
  @apply lg:text-b1 md:text-b1Tablet text-b1Mobile;
}

.body-2 {
  @apply lg:text-b2 md:text-b2Tablet text-b2Mobile;
}

.body-3 {
  @apply lg:text-b3 md:text-b3Tablet text-b3Mobile;
}

.link {
  @apply lg:text-textlink text-textlinkMobile;
}

.cta {
  @apply lg:text-cta md:text-ctaTablet text-ctaMobile;
}

body {
  font-family: 'TP Fors';
  font-size: 16px;
  @apply text-neutral-dgray;
}

.logoMarqueeSection {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  margin: 0 1vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-98%);
  }
}

a {
  transition: 0.3s;
}

/* Components */
@layer components {
  .btn-primary {
    @apply rounded-full bg-primary-glaciar text-cta-dark px-s3 py-s1 font-medium;
  }

  .btn-secondary {
    @apply flex items-center justify-center w-full lg:w-auto h-[48px] md:h-[82px] lg:h-[45px] lg:min-w-[205px] px-s3 py-3 rounded-full text-center text-white text-ctaMobile md:text-ctaTablet lg:text-cta border border-cta-dark bg-cta-dark hover:bg-white hover:text-cta-dark transition-all;
  }

  .btn-secondary-inverted {
    @apply flex items-center justify-center w-full lg:w-auto h-[48px] md:h-[82px] lg:h-[45px] lg:min-w-[205px] px-s3 py-3 rounded-full text-center text-ctaMobile md:text-ctaTablet lg:text-cta border bg-white hover:bg-cta-dark text-cta-dark hover:text-white border-white hover:border-cta-dark transition-all;
  }

  .btn-tertiary {
    @apply flex items-center justify-center w-full lg:w-auto h-[48px] md:h-[82px] lg:h-[45px] lg:min-w-[205px] px-s3 py-3 rounded-full text-center text-cta-dark hover:text-primary-violet text-ctaMobile md:text-ctaTablet lg:text-cta border border-cta-dark bg-transparent hover:bg-transparent hover:border-primary-violet transition-all;
  }

  .btn-tertiary-white {
    @apply flex items-center justify-center w-full lg:w-auto h-[48px] md:h-[82px] lg:h-[45px] lg:min-w-[205px] px-s3 py-3 rounded-full text-center text-white text-ctaMobile md:text-ctaTablet lg:text-cta border border-white hover:bg-transparent hover:text-secondary-aqua hover:border-secondary-aqua transition-all;
  }

  .btn-text-link {
    @apply text-textlink text-neutral-dgray hover:text-primary-violet;
  }

  .section {
    @apply px-s2 md:px-s4;
  }
}

/* slick slider */

/* slick dots */
.slick-dots {
  position: relative;
  bottom: 0;
  padding-top: 3rem;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}

.slick-dots li button {
  padding: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
  background-color: #d5d5d5;
  border-radius: 2px;
}

.slick-dots li button:before {
  content: '';
}

.slick-dots .slick-active button {
  background-color: #444;
}

.slick-disabled {
  opacity: 0.4;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .slick-dots {
    padding-top: 5rem;
  }
}

/* Filters */

/* .search-filter-results { */
#search-filter-results-85,
#category-post-content {
  @apply col-span-12 grid grid-cols-12 gap-s2 w-full;
}

#search-filter-results-94 {
  @apply col-span-12 lg:col-span-7;
}

#search-filter-results-91 {
  @apply col-span-12 grid grid-cols-12 gap-s2;
}

.searchandfilter {
  @apply col-span-12 grid grid-cols-12;
}

.searchandfilter > ul {
  @apply col-span-12 grid grid-cols-12;
}

.searchandfilter > ul li {
  @apply col-span-12;
}

.searchandfilter > ul li > ul {
  @apply col-span-12 grid grid-cols-12 gap-s2 w-full;
}

.searchandfilter > ul li > ul li {
  @apply col-span-6 lg:col-span-3 flex items-center justify-center h-[38px] rounded-button;
}

.searchandfilter > ul li > ul li label {
  @apply block w-full !p-0 text-h4Mobile md:text-h4Tablet lg:text-h4 text-center uppercase cursor-pointer;
}

.searchandfilter > ul li > ul li input {
  @apply hidden;
}

.sf-option-active {
  @apply bg-neutral-dgray text-neutral-nwhite;
}

/* Form */

.wpforms-container {
  @apply pt-s6 lg:pt-s4 !mb-0;
}

.wpforms-field-label {
  @apply text-h3 uppercase font-semibold;
}

.wpforms-container input.wpforms-field-medium {
  @apply !max-w-full bg-transparent border-b border-neutral-fnude p-3 outline-none text-neutral-dgray;
}

.wpforms-field-container {
  @apply flex flex-col gap-s3;
}

.wpforms-container .wpforms-field {
  @apply !p-0;
}

.wpforms-submit-container {
  @apply pt-s16 lg:pt-s8;
}

.wpforms-submit {
  @apply flex items-center justify-center h-[82px] lg:h-[45px] px-10 py-3 rounded-full text-center text-white text-ctaMobile md:text-ctaTablet lg:text-cta border border-cta-dark bg-cta-dark hover:bg-transparent hover:text-cta-dark transition-all;
}

/* Detail posts */

.detail p {
  @apply text-b2 text-neutral-dgray lg:max-w-[750px];
}

.detail figure {
  @apply block w-full;
}

.detail img,
.detail iframe {
  @apply block w-full object-cover;
}

.detail a {
  @apply underline;
}

.video-container iframe {
  @apply w-full aspect-video lg:min-h-[650px];
}
